@model Bitak.Web.ViewModels.MainBoard.MainBoardListViewModel

@{
    this.ViewData["Title"] = "MainBoards";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (var mainboard in Model.Mainboards)
{
    <div asp-controller="MainBoard">
        <div>
            <h3>@mainboard.Name</h3>
        </div>
        <div>@mainboard.Price</div>
        <div>@mainboard.Socket</div>
        <div>@mainboard.Brand</div>
        <div>@mainboard.Chipset</div>
        <div>@mainboard.Waranty</div>
        <div>@mainboard.FormFactor</div>
        <div>
            @foreach (var mbInterface in mainboard.Interfaces)
            {
                <a>Interface name: @mbInterface.Name</a>
                <a>Modified on: @mbInterface.ModifiedOn</a>
                <br />
            }
        </div>
        <div>
            @foreach (var port in mainboard.Ports)
            {
                <a>Ports: @port.Name</a>
                <br />
            }
        </div>
    </div>
}

