@using Bitak.Data.Models.PcComponents.Enums
@using Bitak.Web.ViewModels.MainBoard;
@using System.Linq;
@inject Bitak.Services.Data.IEnumService enumService;

@model MainBoardListViewModel;


<div id="sidebar" class="container">
    <div>
        <form>
            <fieldset>
                <div class="">
                    <a class="nav-link text-dark" aria-controls="collapseOne" aria-expanded="true" data-toggle="collapse" href="#collapseBrand" style="background-color: #fafafa; font-weight: bold; padding: 0;">
                        Brands
                        </a>
                    <div id="collapseBrand" class="panel-collapse collapse in" data-role="controlgroup" role="tabpanel">
                        <ul style="list-style-type: none; margin-right: 3px;">
                            @foreach (var item in enumService.GetAll<Brand>())
                            {
                                <li>
                                    <input id="@item" type="checkbox" style="margin-right: 5px;" />
                                    <label for="@item">@item </label>
                                    <label for="@item" style="color: darkgrey">(@Model.Mainboards.Where(m => m.Brand.ToString() == item.ToString()).Count())</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
        <form>
           
                <div class="">
                    <a class="nav-link text-dark" aria-controls="collapseOne" aria-expanded="true" data-toggle="collapse" href="#collapseFormFactor" style="background-color: #fafafa; font-weight: bold; padding: 0;">
                        Form factor
                    </a>
                    <div id="collapseFormFactor" class="panel-collapse collapse in" data-role="controlgroup" role="tabpanel">
                        <ul style="list-style-type: none; margin-right: 3px;">
                            @foreach (var item in enumService.GetAll<FormFactor>())
                            {
                                
                                <li>
                                    <input id="@item" type="checkbox" style="margin-right: 5px; " />
                                    <label for="@item">@item</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
           
        </form>
    </div>
    <div>
        <form>
            <fieldset>
                <div class="">
                    <a class="nav-link text-dark" aria-controls="collapseOne" aria-expanded="true" data-toggle="collapse" href="#collapseChipset" style="background-color: #fafafa; font-weight: bold; padding: 0;">
                        Chipset
                    </a>
                    <div id="collapseChipset" class="panel-collapse collapse in" data-role="controlgroup" role="tabpanel">
                        <ul style="list-style-type: none; margin-right: 3px;">
                            @foreach (var item in enumService.GetAll<MbChipset>())
                            {
                                <li>
                                    <input id="@item" type="checkbox" style="margin-right: 5px;" />
                                    <label for="@item">@item</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
        <form>
            <fieldset>
                <div class="">
                    <label class="nav-link text-dark" id="Price" style="font-weight: bold; padding: 0;">Price</label>
                    <div class="wrapper" data-role="controlgroup">
                        <ul style="list-style-type: none; margin-right: 3px;">
                            <li style="margin-right: 10px;">
                                <input id="amount" style="height: 30px; flex: 1; overflow: auto;" type="text" size="5" readonly; />
                                <div id="slider-range"></div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>
    
    
</script>