@using Bitak.Data.Models.PcComponents.Enums
@using Bitak.Web.ViewModels.MainBoard;
@using System.Linq;
@inject Bitak.Services.Data.IEnumService enumService;
@inject Bitak.Services.Data.IMainBoardService mbService;

@model MainBoardListViewModel;

<div id="sidebar" class="container">
    <form asp-controller="MainBoard" asp-action="List" id="brandForm" method="get">
        <div class="form-check">
            <div>
                <div>
                    <a class="nav-link text-dark" data-bs-toggle="collapse" href="#collapseBrand" style="background-color: #fafafa; font-weight: bold; padding: 0;">
                        Brands
                    </a>
                    <div id="collapseBrand" class="panel-collapse collapse in" data-role="controlgroup" role="tabpanel">
                        <ul class="list-group" id="brandCheckList" style="list-style-type: none">
                            @foreach (var item in Model.GetBrands())
                            {
                                <li>
                                    <input name="Brand" id="@item" type="checkbox" value="@item" onclick="filterBrand(@item)" @*@this.ViewData[$"{item}"].ToString().ToLower()*@ />
                                    <label for="@item">@item </label>
                                    <span for="@item" style="color: darkgrey">(@Model.Mainboards.Where(x => x.Brand.ToString() == item).Count())</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="">
                    <a class="nav-link text-dark" data-bs-toggle="collapse" href="#collapseFormFactor" style="background-color: #fafafa; font-weight: bold; padding: 0;">
                        Form factor
                    </a>
                    <div id="collapseFormFactor" class="panel-collapse collapse in" data-role="controlgroup" role="tabpanel">
                        <ul class="list-group" style="list-style-type: none;">
                            @foreach (var item in Model.GetFormFactor())
                            {
                                <li>
                                    <input name="FormFactor" id="@item" type="checkbox" value="@item" />
                                    <label for="@item">@item</label>
                                    <span for="@item" style="color: darkgrey">(@Model.Mainboards.Where(x => x.FormFactor.ToString() == item).Count())</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <fieldset>
                    <div class="">
                        <a class="nav-link text-dark" data-bs-toggle="collapse" href="#collapseChipset" style="background-color: #fafafa; font-weight: bold; padding: 0;">
                            Chipset
                        </a>
                        <div id="collapseChipset" class="panel-collapse collapse in" data-role="controlgroup" role="tabpanel">
                            <ul class="list-group" style="list-style-type: none;">
                                @foreach (var item in Model.GetChipset())
                                {
                                    <li>
                                        <input name="Chipset" id="@item" type="checkbox" style="margin-right: 5px;" value="@item" />
                                        <label for="@item">@item</label>
                                        <span for="@item" style="color: darkgrey">(@Model.Mainboards.Where(x => x.Chipset.ToString() == item).Count())</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <div class="">
                        <label class="nav-link text-dark" id="Price" style="font-weight: bold; padding: 0;">Price</label>
                        <div class="wrapper" data-role="controlgroup">
                            <ul style="list-style-type: none; margin-right: 3px;">
                                <li style="margin-right: 10px;">
                                    <input name="Price" id="amount" style="height: 30px; flex: 1; overflow: auto;" type="text" size="5" readonly; />
                                    <div id="slider-range"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <input class="ui-button" type="submit" value="Apply" onclick="filterBrand()" />
    </form>
</div>

<script type="text/javascript">

    console.log("ready");
    function filterBrand (arg){
        $(".filterElement").filter
    }

</script>
